body {
	background-color: pink !important;
}

.wrapper {
	width: 70%;
	margin: auto auto !important;
	text-align: center;
	text-shadow: -1px 2px 5px #000000;
	margin-top: 40px;
}

.dice {
	text-align: center;
	display: inline-block;
}

h1 {
	margin: 30px;
	margin-top: 80px;
	font-family: "Lobster", cursive;
	text-shadow: 5px 0 #232931;
	font-size: 4rem;
	color: #4ecca3;
}

p {
	font-size: 2rem;
	color: #4ecca3;
	font-family: "Indie Flower", cursive;
}

img {
	width: 80%;
	border: 2px solid white;
	border-radius: 30%;
	object-fit: contain;
	background-color: white;
}

.roll {
	-webkit-animation: spin 1s linear infinite;
	-moz-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}

@-moz-keyframes spin {
	100% {
		-moz-transform: rotate(360deg);
	}
}
@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

footer {
	margin-top: 5%;
	color: #eeeeee;
	text-align: center;
	font-family: "Indie Flower", cursive;
	text-shadow: -1px 2px 5px #000000;
}
